$layout-breakpoint-xxs:    400px;
$layout-breakpoint-xs:     600px !default;
$layout-breakpoint-sm:     960px !default;
$layout-breakpoint-md:     1280px !default;
$layout-breakpoint-lg:     1920px !default;

$layout-breakpoint-tight:  799px;

$vr-blue-color: #00a3d9;
$vr-red-color: rgb(214, 0, 28);
$vr-yellow-color: rgb(247,236,10);

$default-blue-color: rgb(63,81,181);

$body-background-color: rgb(243,244,246);
$toolbar-background-color: rgb(243,244,246);


$admin-button-fab-color: #c6c6c6;

$md-fab-tool-hover: #0184af;
$md-fab-hover: #d50000;

$primary-button-background-color: darken($vr-blue-color, 2%);

$opacity-level: .70;

//$accent-background-color: #ff4081;
$accent-background-color: $vr-red-color;

$fab-button-hover-background-color: $md-fab-tool-hover;
$fab-button-background-color: lighten($accent-background-color, 20%);

$gray: gray;

$default-button-hover: #DFDFDF;

$black-font-color: #404040;

$alert-color: white;
$alert-background-color: #d63030;

$margin-default: 10px;
$margin-default-half:  5px;

$gray-borders-color: rgba(0,0,0,0.12);

