$layout-breakpoint-xs:     600px !default;
$layout-breakpoint-sm:     960px !default;
$layout-breakpoint-md:     1280px !default;
$layout-breakpoint-lg:     1920px !default;

$layout-breakpoint-tight:  799px;

$body-background-color: rgb(243,244,246);
$toolbar-background-color: rgb(243,244,246);

$primary-button-background-color: rgb(63,81,181);

$opacity-level: .70;

$accent-background-color: #ff4081;

$fab-button-hover-background-color: rgb(213, 0, 0);
$fab-button-background-color: rgb(255, 64, 129);

$gray: gray;

$alert-color: white;
$alert-background-color: #d63030;

$margin-default: 10px;
$margin-default-half:  5px;
