@import "_vars.scss";

$default-button-background-color: #f0f0f0;

a.md-button.md-fab, .md-button.md-fab {
  background-color: $fab-button-background-color;
}

button span.active {
  font-weight: 900;
  color: $primary-button-background-color;
}

button .label {
  color: $gray;
}

.md-title .no-button {
  display: inline-block;
  min-height: 37px;
  line-height: 1.8;
}

.plus-minus {

  min-width: 100px;
  text-align: center;

  md-input-container {
    margin: 0;
  }

  input {
    width: 40px !important;
    text-align: center;
  }

}

.with-badge {

  position: relative;

  .badge {
    position: absolute;
    z-index: 100;
    background: $primary-button-background-color;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    font-size: 13px;
  }

  .badge-small {
    top: -5px;
    right: 0;
    border-radius: 8px;
    min-width: 16px;
    padding-bottom: 1px;
  }

  .badge-large {
    top: -6px;
    right: -2px;
    border-radius: 10px;
    min-width: 15px;
    padding: 2px;
  }

}


.md-button, .md-button.md-raised {

  &.default-button:hover:not([disabled]) {
    background-color: $default-button-hover;
  }

  .default-button {
    background-color: $default-button-background-color;
    color: black;
  }

  &.pink-button, &.important-button {
    background-color: $fab-button-background-color;
    color: white;
  }

  &.pink-button:hover:not([disabled]) {
    background-color: $md-fab-hover;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &.micro-fab:not([disabled]):hover,
  &.mini-fab:not([disabled]):hover {
    background-color: $md-fab-hover;
  }

}


.pink-button-fab {
  width: 40px;
  height: 40px;
  min-width: 40px !important;
  min-height: 40px !important;
}

.yellow-button-fab {
  width: 20px;
  height: 20px;
  min-width: 20px !important;
  min-height: 20px !important;
  margin-right: 8px !important;
  background-color: #eee400 !important;
  color: white !important;
}

.green-button-fab {
  width: 20px;
  height: 20px;
  min-width: 20px !important;
  min-height: 20px !important;
  margin-right: 8px !important;
  background-color: #0c7c02 !important;
  color: white !important;
}

.button-cust-fab {
  width: 30px;
  height: 30px;
  min-width: 30px !important;
  min-height: 30px !important;
  margin-right: 8px !important;
  border-radius: 50%;
  line-height: 7px;
  padding: 3px;
}

.micro-fab {
  border-radius: 50%;
  width: 25px;
  min-width: 25px;
  background-color: $fab-button-background-color;
  color: white;
  margin: 0;
  line-height: 25px;
  min-height: 25px;

  &:active, &:hover {
    background-color: $fab-button-hover-background-color;
  }
}

.mini-fab {
  border-radius: 50%;
  width: 35px;
  min-width: 35px;
  background-color: $fab-button-background-color;
  color: white;
  margin: 0;
  line-height: 24px;
  min-height: 35px;

  i {
    font-size: 20px;
    line-height: 30px;
    margin-left: 1px;
    margin-top: 2px;
  }
}

button.micro-square, button.micro-square.md-fab, .md-button.micro-square.md-fab {
  border-radius: 0;
  min-height: 10px;
  min-width: 10px;
  line-height: 30px;
  width: 25px;
  height: 25px;
}

.md-fab.md-mini.md-icon-button.active {
  //color: $vr-yellow-color;
}

.clickable {
  cursor: pointer;
}

md-fab-actions, .viewport {
  .md-button.md-primary {
    &, &.md-raised {
      background-color: $vr-blue-color;
      &:hover:not([disabled]) {
        background-color: $md-fab-tool-hover;
      }
    }
  }
}

// Fab hovers

.md-button.md-fab, .md-button.md-fab.md-icon-button, .mini-fab {

  &:not([disabled]):hover {
    background-color: $md-fab-hover;
  }

  &.tool-button:not([disabled]):hover {
    background-color: $fab-button-hover-background-color;
  }

  &.default-button:not([disabled]):hover {
    background-color: $default-button-hover;
  }

  &.admin-button.md-mini:not([disabled]):hover {
    background-color: $admin-button-fab-color;
  }

  &.default-button {
    background-color: $default-button-background-color;
    color: black;
  }

  &.admin-button {
    background-color: #dfdfdf;
    color: black;
    min-width: 40px;
    min-height: 40px;
  }

}
