@import "_vars.scss";

.md-button.md-fab:not([disabled]):hover {
  background-color: rgb(213, 0, 0) !important;
}

.with-badge {

  position: relative;

  .badge {
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 100;
    background: $primary-button-background-color;
    color: white;
    border-radius: 9px;
    font-size: 13px;
    min-width: 18px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 1px;
    cursor: default;
  }

}

.pink-button {
  background-color: rgb(255, 64, 129) !important;
  color: white !important;
}

.pink-button-fab {
  width: 40px;
  height: 40px;
  min-width: 40px !important;
  min-height: 40px !important;
  margin-right: 8px !important;
}
