$input-wide-width: 300px;
$input-normal-width: 250px;

form {

  md-input-container {
    padding-right: 0;
    padding-left: 0;
  }

  .wide .form-controls > *, &.wide .form-controls > *, .form-controls > .wide, .form-controls.wide > * {

    width: $input-wide-width;
    min-width: $input-wide-width - 50;

    input, md-select {
      width: $input-wide-width;
      min-width: $input-wide-width - 50;
    }

  }

  > md-input-container {
    margin: 8px 0;
    //margin-bottom: 8px;
  }

  md-chips {
    margin-bottom: 16px;
  }

  .form-controls {

    md-radio-group {
      padding: 2px;
    }

    md-radio-group > label {
      color: rgba(0, 0, 0, 0.54);
      font-size: 12px;
      padding-left: 3px;
    }

    > * {

      width: $input-normal-width;

      input, md-select {
        width: $input-normal-width;
      }

    }
  }

  .required-field-asterisk {
    color: red;
  }

}

md-input-container > .md-errors-spacer {
  display: none !important;
}

.search {

  margin-top: 7px;

  &:hover {
    color: #ff4081;
    cursor: pointer;
  }

}

div.alert {
  text-align: center;
  background-color: $alert-background-color;
  padding: 10px;
  color: $alert-color;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  font-size: 15px;
  cursor: default;
  display: inline-block;
}
