@import "_vars";

$input-wide-width: 300px;
$input-normal-width: 250px;

form {

  md-input-container label:not(.md-container-ignore).md-required:after {
    content: none;
  }

  md-input-container {
    padding-right: 0;
    padding-left: 0;
  }

  .wide .form-controls > *, &.wide .form-controls > *, .form-controls > .wide, .form-controls.wide > * {

    width: $input-wide-width;
    min-width: $input-wide-width - 50;

    input, md-select {
      width: $input-wide-width;
      min-width: $input-wide-width - 50;
    }

  }

  > md-input-container {
    margin: 8px 0;
    //margin-bottom: 8px;
  }

  md-chips {
    margin-bottom: 16px;
  }

  form-fields, .form-fields {
    padding: 0 10px;

    @media (max-width: $layout-breakpoint-xs - 1) {
      .form-controls.layout-column, &.form-controls.layout-column {
        md-input-container, searchable-select, md-chips {
          width: 100%;
          > input, * md-select {
            width: 100%;
          }
        }
      }
    }
  }

  .form-controls {

    md-radio-group {
      padding: 2px;
    }

    md-radio-group > label {
      color: rgba(0, 0, 0, 0.54);
      font-size: 12px;
      padding-left: 3px;
    }

    > * {

      width: $input-normal-width;

      input, md-select {
        width: $input-normal-width;
      }

    }
  }

  .required-field-asterisk {
    color: red;
  }

}

md-input-container > .md-errors-spacer {
  display: none !important;
}

.search {

  margin-top: 7px;

  &:hover {
    color: #ff4081;
    cursor: pointer;
  }

}

div.alert {
  text-align: center;
  background-color: $alert-background-color;
  padding: 10px;
  color: $alert-color;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  font-size: 15px;
  cursor: default;
  display: inline-block;
}

i.search-label {
  color: $gray;
  margin-top: 5px;
  margin-right: 2px;
}

fieldset {
  border: none;
}

.notable-disabled {

  input[disabled], [disabled] input,
  textarea[disabled], [disabled] textarea,
  md-select[disabled] md-select-value, [disabled] md-select md-select-value {
    color: black;
    cursor: not-allowed;
  }

  md-select[disabled], [disabled] md-select {
    .md-select-icon {
      display: none;
    }
  }

  [disabled] md-input-container label .required-field-asterisk {
    display: none;
  }

}
