$gray-section-margin: 10px;
$gray-section-radius: 10px;
$gray-section-breakpoint: 510px;

.gray-section {

  max-width: $gray-section-breakpoint;

  border-radius: $gray-section-radius;
  margin: $margin-default * 2 auto;
  padding-bottom: $gray-section-margin;

  & > *:first-child {
    border-top-left-radius: $gray-section-radius;
    border-top-right-radius: $gray-section-radius;
  }

  h2 + .text {
    text-align: justify;
    padding: 0 $gray-section-margin;
  }

  h2 {

    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;

    margin: 0;
    padding: $gray-section-margin;
    background-color: $toolbar-background-color

  }

  @media (max-width: $gray-section-breakpoint) {
    box-shadow: none;
    border-radius: 0;
    & > *:first-child {
      border-radius: 0;
    }
    max-width: 100%;
  }

}

