$gray-section-margin: 10px;

.gray-section {

  max-width: 450px;

  border-radius: 10px;
  margin: $margin-default * 2 auto 0;
  padding-bottom: $gray-section-margin;

  h2 + .text {
    text-align: justify;
    padding: 0 $gray-section-margin;
  }

  h2 {

    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;

    margin: 0;
    padding: $gray-section-margin;
    background-color: $toolbar-background-color

  }

}

