img.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

td img.thumbnail {
  max-height: 45px;
  margin: 7px 0;
}


md-card img.thumbnail {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
}
