.small-carousel > .jk-carousel .slides-container .slide img {
  max-height: 150px !important;
  max-width: 300px !important;
}

.image-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
