img.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

td img.thumbnail {
  max-height: 45px;
  margin: 7px 0;
}


md-card img.thumbnail {
  margin: 0 auto;
}

.main-photo {
  max-width: 300px;
  min-width: 300px;
  min-height: 350px;
  img {
    max-width: 260px;
    max-height: 320px;
  }
}

img {
  object-fit: contain;
}
