.iOS {
  &, section, div, p, h1, h2, h3, h4, h5, h6, span, label, td, th, tr, body, md-toolbar, .md-toolbar-tools {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
  }
}

#root-md-content {
  //position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: initial;
}

.scroll-y {
  -webkit-overflow-scrolling: touch;
}
