@import "_vars";

md-virtual-repeat-container {

  width: 100%;

  .item.active {
    background: $primary-button-background-color;
    color: white;
  }

  &.clickable .item:hover {

    background-color: $toolbar-background-color;

    &.active {
      background: $primary-button-background-color;
      color: white;
    }

  }


}


div > md-list > md-list-item.md-clickable:hover {
  cursor: default;
}

md-list-item > button {
  margin: 0;
}

md-list.custom-list {
  min-width: 400px;
}

figure {
  box-shadow: none;
}


.md-item-text {
  padding: 8px;
  background: #f3f4f6;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px 2px;
}

.md-item-header {
  padding: 0 5px;
  background: #f3f4f6;
  border-radius: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
  z-index: 2;
}

.md-item-text h3,
.md-item-text p {
  padding: 0;
  margin: 0;
}
