@import "_vars.scss";

.root.viewport {
  background-color: $body-background-color;
}

.pull-right {
  float: right;
}

#scroll-main {
  //overflow-y: scroll;
  //-webkit-overflow-scrolling: touch;
}

.root.viewport {
  background-color: white;
}

*:focus {
  outline: none;
}

/* hiding input arrows */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section.jumbotron {

  //margin-bottom: 30px;
  background-color: $primary-button-background-color;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
    .lead {
      font-size: 16px;
    }
  }

}
