@media print {

  * {
    box-shadow: none !important;
  }

  .hidden-print {
    display: none;
  }

  div {
    md-sidenav {
      display: none !important;
    }
  }

  .visible-print-inline {
    display: inline !important;
  }

  .md-button {
    display: none;
  }

  .scroll-y {
    height: auto !important;
  }

  .print-layout-row {

    flex-direction: row !important;
    -webkit-flex-direction: row !important;

    &.print-layout-align-space-around-start {

      justify-content: space-around;
      -webkit-justify-content: space-around;

      align-content: flex-start;
      -webkit-align-content: flex-start;

      align-items: flex-start;
      -webkit-align-items: flex-start;

    }

  }

  @page {
    margin: 1cm;
  }

  .md-select-value {

    border-bottom: none;

    .md-select-icon {
      display: none;
    }

  }

}
