@media print {

  .hidden-print {
    display: none;
  }

  .visible-print-inline {
    display: inline !important;
  }


  .md-button {
    display: none;
  }

  .scroll-y {
    height: auto !important;
  }
}
