@import "_vars";

md-progress-circular.md-default-theme path, md-progress-circular path {
  stroke: $primary-button-background-color;
}


md-progress-linear {

  .md-bar {
    background-color: $primary-button-background-color;
  }
  .md-container {
    background-color: lighten($primary-button-background-color, 50%);
  }

  &.yellow {
    .md-bar {
      background-color: $vr-yellow-color; //$primary-button-background-color;
    }
    .md-container {
      background-color: lighten($vr-yellow-color, 40%);
    }
  }

}
