@import "_vars";

.property-list {

  min-width: 380px;
  max-width: 380px;
  border-radius: 5px;

  .header {
    background-color: $accent-background-color;
    padding-left: 12px;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
    height: 40px;
    border-radius: 5px 5px 0 0;
    line-height: 38px;
  }

}
