@import "_vars.scss";

md-toast {

  padding: 4px;

  .md-toast-content {
    font-size: 15px;
    text-align: center;
  }

  &.md-success-toast-theme {
    .md-toast-content {
      background-color: #0c7c02;
    }
  }

  &.md-fail-toast-theme {
    .md-toast-content {
      background-color: #d63030;
    }
  }

  &.md-warn-toast-theme {
    .md-toast-content {
      background-color: $vr-yellow-color;
    }
    .md-toast-text {
      color: $vr-blue-color;
    }
  }

}
