@import "../../styles/_vars";

.dictionary {
  div {
    md-fab-speed-dial {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 8px;

      md-fab-trigger > .md-button {
        min-width: 120px;
      }
    }

    md-fab-actions > .md-button {
      margin-top: 10px
    }
  }

  @media (min-width: $layout-breakpoint-xs) {
    div {
      .shown-tight {
        display: none;
      }
    }
  }

  .md-icon-button {
    color: $gray;
  }

  tr.default {
    > td, .md-icon-button {
      background-color: $primary-button-background-color;
      color: white;
    }
  }

}

