md-card.error(ng-if='!vm.hidden')
  md-card-header
    md-card-header-text
      .md-title
        span Ошибка авторизации
        md-button.md-raised.md-mini.micro-square(aria-label='Close Error' ng-click='vm.close()')
          i.material-icons.mini clear

  div(ng-if='vm.errorText')
    p(style='text-align: center') Вы отклонили авторизацию
