//TODO styles
md-dialog.login-dialog(aria-label='Login' style='border-radius: 5px 5px 5px !important; width: 35%')
  form(ng-cloak='')
    md-toolbar(style='background-color:#f3f4f6; border-radius: 5px; min-height: 50px !important; max-height: 50px !important')
      .md-toolbar-tools
        h2(style='color: black') Вход
        span(flex)
        md-button.md-fab.md-mini.micro-square.md-margin(ng-click='vm.hide()')
          i.material-icons.mini clear
        span
    md-dialog-content
      .md-dialog-content
        p(style='text-align: justify') Пожалуйста, зарегистрируйтесь/авторизируйтесь или продолжайте оформление без регистрации/авторизации.
        p Регистрация на сайте дает расширенный функционал при оформлении и работе с заказами.

    md-dialog-actions(layout='row' layout-xs='column' layout-align-xs='center')

      md-button.tool-button.dialog-button(ng-click="vm.answer('checkout')" )
        | Продолжить без регистрации

      md-button.pink-button.dialog-button(ng-click="vm.answer('login')")
        | Зарегистрироваться
