md-dialog.login-dialog(aria-label='Login')
  form(ng-cloak='')
    md-toolbar.login-dialog-toolbar
      .md-toolbar-tools
        h2.black-header Вход
        span(flex)
        md-button.md-fab.md-mini.micro-square.md-margin(ng-click='vm.hide()')
          i.material-icons.mini clear
        span
    md-dialog-content
      .md-dialog-content
        p.justify-text Пожалуйста, зарегистрируйтесь/авторизируйтесь или продолжайте оформление без регистрации/авторизации.
        p.justify-text Регистрация на сайте дает расширенный функционал при оформлении и работе с заказами.

    md-dialog-actions(layout='column' layout-gt-lg='row' layout-align='center')

      md-button.tool-button.dialog-button(ng-click="vm.answer('checkout')" )
        | Продолжить без регистрации

      md-button.pink-button.dialog-button(ng-click="vm.answer('login')")
        | Зарегистрироваться
