@import "../../styles/_vars";

.ui-view.article {

  .main-photo {

    //max-width: 300px;
    min-width: 300px;

    .preview {
      min-height: 320px;

      @media (min-width: 1150px) {
        min-width: 400px;
        max-width: 400px;
      }

      @media (max-width: 1149px) {
        min-width: 350px;
        max-width: 350px;
      }

      img {
        //max-width: 260px;
        max-height: 320px;
        cursor: zoom-in;
      }
    }
//    max-height: 420px;

    .ng-gallery {
      min-height: 50px;
      //margin-top: $margin-default;
    }

    .property-list {
      max-width: 100%;
      width: 100%;
    }

    //padding-bottom: 16px;
  }

  .fixed-bottom-right.admin-buttons > * {
    margin-bottom: $margin-default;
  }

  #viewport > * {
    margin: 0 $margin-default;
  }

}
