.main-photo {
  max-width: 300px;
  max-height: 360px;
  min-height: 400px;
  min-width: 300px;
  object-fit: contain;
}


md-backdrop {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


md-backdrop.md-opaque {
  opacity: .70;
}
