@import "../../styles/_vars";

.baguettes {

  md-card img.thumbnail {
    width: 200px;
    height: 200px;
    padding: 10px;
  }

  .repeated-group {
    height: 378px;
    padding: 2px;
  }

  .repeated-group-item {
    height: 400px;
    max-width: 300px;
    padding-top: 10px;
    margin: 2px;
    display: inline-block;
  }

  md-card-actions {
    width: 100%;
    margin-bottom: 0;
  }

  md-card {
    overflow: hidden;
  }

  .header-margin {
    margin: 10px !important;
  }

  > md-toolbar {
    background: white;
    color: black;
  }

}
