@media only screen and (max-width: 959px) and (min-width: 746px) and (orientation: landscape) {
  md-grid-list {
    top: 8px;
  }
}

@media only screen and (max-width: 959px) and (min-width: 746px) and (orientation: landscape) {
  md-table-container {
    margin-top: 8px;
  }
}

div > form > md-input-container {
  margin: 4px;
}

.image-size {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 2px;
  object-fit: contain;
}

figure {
  box-shadow: none;
}

.md-button.md-pink-bottom-left {
  top: auto;
  bottom: 20px;
  left: auto;
  position: fixed;
  overflow: hidden;
}

fieldset {
  padding: 0
}

.md-padding > md-table-container > table.md-table th.md-column {
  font-size: 16px;
}

tr {
  height: 50px;
}

table.md-table td.md-cell, table.md-table th.md-column {
  text-align: center;
}

.md-item-text {
  padding: 8px;
  background: #f3f4f6;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px 2px;
}

.md-item-header {
  padding: 0 5px;
  background: #f3f4f6;
  border-radius: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
  z-index: 2;
}

.md-item-text h3,
.md-item-text p {
  padding: 0;
  margin: 0;
}

.active-baguette {
  background: #3f51b5;
  color: white;
}

.custom-margin {
  margin: 0 4px;
}

div > md-list > md-list-item.md-clickable:hover {
  cursor: default;
}

.scrolling-contents {
  display: inline-block;
  white-space: nowrap;
  overflow: scroll;
  min-height: 400px;
}

.fixed-elements {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

md-list-item > button {
  margin: 0;
}

.margin-custom {
  margin-top: 40px;
}

.padding-custom {
  padding: 0 50px;
}

.md-toolbar-tools > .md-button:last-child {
  margin-right: 30px;
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 3px;
}

md-list.custom-list {
  min-width: 400px;
}

.bold {
  font-weight: bold;
}

.styles-for-mobile-button {
  position: fixed;
  bottom: 42px;
  right: 0;
}

.styles-for-mobile-text {
  margin: 0 auto;
}

.styles-for-mobile-buttons {
  margin-right: -8px !important;
}

md-switch > div {
  top: 2px;
  left: 8px;
}

.fixed-toolbar {
  position: fixed !important;
  background: white;
}

md-toolbar > .fixed-toolbar {
  min-width: 56px !important;
  height: 56px !important;
}

.center-header {
  text-align: center;
  padding-bottom: 10px;
}

.scrollable-list {
  overflow: scroll;
}

.h3-no-margin {
  margin: 5px 0;
}

.gallery-wrapper {
  margin: 0 auto;
  width: 50%;
  overflow: scroll;
}

.pink-top {
  top: 5px;
}

.search:hover {
  color: #ff4081;
  cursor: pointer;
}

.search {
  margin-top: 7px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

}

md-input-container > .md-errors-spacer {
  display: none !important;
}

.md-title {
  text-align: center;
}

.input-padding {
  padding-top: 5px;
  padding-left: 5px;
}

.min-width-choose-attr-div {
  min-width: 300px
}

@media (max-width: 959px) {
  md-dialog.md-dialog-fullscreen {
    min-height: 50%;
    min-width: 90%;
    border-radius: 0;
  }
}

md-dialog {
  overflow: visible;
}

// styles for md-toast

md-toast .md-toast-content {
  font-size: 15px;
  text-align: center;
}

md-toast.md-success-toast-theme {
  .md-toast-content {
    background-color: #0c7c02;
  }
}

md-toast.md-fail-toast-theme {
  .md-toast-content {
    background-color: #d63030;
  }
}

md-toast {
  //position: fixed;
  //top: 0;
  padding: 4px;
}

// virtual repeat test styles

md-virtual-repeat-container {
  width: 100%;
}

.baguettes {

  .repeated-group {
    height: 400px;
    padding: 2px;
    margin: 10px;
  }

  .repeated-group-item {
    height: 400px;
    max-width: 300px;
    padding-top: 10px;
    margin: 2px;
    display: inline-block;
  }

  md-card-actions {
    width: 100%;
    margin-bottom: 0;
  }

  md-card {
    overflow: hidden;
  }

  .toolbar-class {
    display: inherit;
    margin-top: 3px;
  }
}

.image-thumbnail-table {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.icon-button {
  cursor: pointer;
}

.icons-button-active {
  color: rgb(255, 64, 129) !important;
}

.icon-button-disabled {
  color: rgba(0, 0, 0, 0.12);
}

.component-container {

  md-select {
    width: 173px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .custom-label {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
  }

}

.fixed-pagination {
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
}

.alert-div {
  text-align: center;
  background-color: #d63030;
  padding: 10px;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  font-size: 15px;
  cursor: default;
}
