p {{ vm.isRoot }}

.md-padding.ui-view
  md-toolbar.md-table-toolbar.md-default
    .md-toolbar-tools
      span Просмотр и редактирование имеющихся багетов (таблица)
  md-table-container
    table(md-table md-row-select multiple ng-model='vm.selected')
      thead(md-head md-order='filterBy')
        th.align-center(md-column) Фото
        th(md-column md-order-by='colour.name') Цвет
        th(md-column md-order-by='material.name') Материал
        th(md-column md-order-by='brand.name') Бренд
        th(md-column md-order-by='borderWidth') Ширина (мм.)
        th(md-column) Редактировать
      tbody(md-body)
        tr(md-row ng-repeat='bag in vm.baguettes | orderBy: filterBy track by bag.id' md-select='bag' md-select-id='id')
          td(md-cell)
            img.cart-thumbnail(ng-src='http://bit.ly/1Yu4VIb')
          td(md-cell) {{bag.colour.name}}
          td(md-cell) {{bag.material.name}}
          td(md-cell) {{bag.brand.name}}
          td(md-cell) {{bag.borderWidth}}
          td(md-cell)
            md-button.md-mini.md-icon-button(ng-click='vm.editBaguette(bag)')
              i.material-icons.clear-icon-size create

  md-button.pink-button.md-pink-bottom-left(
    ng-if='vm.selected.length'
    ng-click='vm.deleteBaguette(vm.selected)'
  ) Удалить {{vm.selected.length}}
