form-edit(vm="vm" item="vm.baguette" form-title="{{ vm.id ? '' : 'Новый багет' }}")

  form-fields.wide(layout='column' layout-align='space-between top' layout-gt-sm='row')
    .flex

    .form-controls(layout='column' layout-align='start center' ng-include="'app/domain/baguette/partials/baguetteSelects.html'")

    .flex

    .form-controls(layout='column' layout-align='start center' ng-include="'app/domain/baguette/partials/baguetteFields.html'")

    .flex

  form-footer(ng-if='vm.id')

    md-divider.md-margin.hide-xs.hide-sm

    .margin-top
      ng-gallery(images='vm.baguetteImages' thumbs-num='5' ng-if='vm.baguetteImages.length' is-deletable='true')

    .text-center.margin-top#frames(ng-if='vm.baguette.articles.length')
      span
        md-button.default-button(ui-sref='catalogue' disabled='disabled') Рамк{{vm.baguette.articles.length > 1 ? 'и' : 'а'}}:
      = ' '
      span(ng-repeat='frame in vm.baguette.articles track by frame.id')
        md-button.tool-button.default-button(ui-sref='catalogue({item: frame.id})') {{ frame.frameSize.name }}
