// Images thumbnail
.thumbnails(class='{{ baseClass }}')
  .thumbnail(ng-repeat='i in images')
    a(href ng-click='vm.thumbnailClick(i, $index)' ng-mouseover='setHovered(i)')
      img(
      ng-src='{{ i.thumbnailSrc }}'
      ng-class='{{ thumbClass }}'
      ng-attr-alt='Image {{ $index + 1 }}'
      )
