$ng-gallery-icon-hover-color: #d8d8d8;

.ng-gallery, ng-gallery {

  width: 100%;
  height: 100%;
  // TODO: fix layout in Safari

  .window-controls i {
    margin-top: 8px;
    margin-right: 5px;
  }

  .material-icons {
    color: white;
    cursor: pointer;
  }

  .material-icons:hover {
    color: $ng-gallery-icon-hover-color;
  }

}

.space-children-em > ng-gallery > .ng-gallery {
  margin: 0 0 1em 0;
}

ng-gallery.margin-top-em > .ng-gallery {
  margin-top: 1em;
}

img.ng-thumb {
  height: 50px;
  width: 50px;
  float: left;
  display: block;
  cursor: pointer;
  margin: 2px 2px 0 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px;
}

.ng-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 9999;
}

.ng-gallery-content {


  > a.nav-left, .ng-gallery-content > a.nav-right {
    color: #fff;
    text-decoration: none;
    font-size: 60px;
    cursor: pointer;
    outline: none;
  }

  > a.nav-left {
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  > a.nav-right {
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  > img {
    height: auto;
    max-height: calc(100% - 150px);
    max-width: calc(100% - 200px);
    position: relative;
    display: block;
    margin: 0 auto 0 auto;
    top: 42%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
  }

  > span.info-text {
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 20px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 100px;
  }

  > .ng-thumbnails-wrapper {
    width: 400px;
    height: 76px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }

  > .ng-thumbnails-wrapper > .ng-thumbnails {
    width: 4000px;
    height: 76px;
  }

  > .ng-thumbnails-wrapper > .ng-thumbnails > div > img {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 8px;
    cursor: pointer;
    opacity: 0.6;
  }

  > .ng-thumbnails-wrapper > .ng-thumbnails > div > img:hover,
  > .ng-thumbnails-wrapper > .ng-thumbnails > div > img.active {
    /* transition: opacity 0.25s ease; deleted */
    opacity: 1;
  }

}

// Custom STYLES

.main-div-settings {
  height: 100%;
}

.min-settings {
  min-width: 50px !important;
}

.fit-to-div {
  max-width: 95%;
  -ms-interpolation-mode: bicubic;
}

img.fullsize {
  height: auto;
  overflow: auto;
  width: auto;
  cursor: zoom-out;
}

.custom-close-button {
  background-color: transparent !important;
}

.custom-close-button > i {
  color: white;
  font-size: 32px;
}

.image-fit-div {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 4px;
}

.thumb-image-fit-div {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.wide-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 4px;
}

.tall-image {
  margin: 4px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.left-right-chevron {
  min-width: 80px !important;

  .material-icons {
    color: white;
    font-size: 80px;
    cursor: pointer;
  }

}

.close-icon {
  position: fixed;
  top: 1px;
  right: 2px;
  font-size: 37px;
}

.delete-icon {
  position: fixed;
  top: 1px;
  right: 37px;
  font-size: 37px;
}

.thumbnail-style {
  border: 1px solid white;
  padding: 2px;
  border-radius: 5px;
}

.elem-max-width {
  width: 100%;
}

.photo-counter {
  color: white;
  margin: 0 2px 2px 2px;
}

.photo-counter-gt-sm {
  color: white;
  text-align: center;
  font-weight: bold;
}



//@keyframes fadeIn {
//  from {
//    opacity: 0.3;
//  }
//  to {
//    opacity: 1;
//  }
//}
