span(ng-if='vm.article.brand') "{{ ::vm.article.brand.name }}"
span(ng-if='!vm.article.brand') {{ ::vm.article.baguette.code }}
span {{ ::vm.article.colour.name }}
span {{ ::vm.article.frameSize.name }}
