md-toolbar.toolbar-fixed-top.white-background.md-menu-toolbar(md-whiteframe="1")
  .md-toolbar-tools
    md-button(ui-sref='home') vseramki.ru
    md-button.md-raised(ui-sref='home' ui-sref-active='md-primary') Главная
    md-button.md-raised(ui-sref='catalogue' ui-sref-active='md-primary') Каталог
    .flex
