@import "../../styles/_vars.scss";

.top-logo {
  max-height: 36px;
  margin-left: 6px;
  cursor: pointer;
}

md-toolbar.toolbar-fixed-top.white-background {
  background-color: $body-background-color;
  color: #202020;
}

.toolbar-fixed-top {

  position: fixed;
  top: 0;
  z-index: 70;

  & + * {
    margin-top: 64px;
  }

  padding-right: 10px;

}

.tool-button {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .26);
  background-color: rgb(250, 250, 250);
  &.md-button.md-primary, &.md-button.md-primary:hover {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(63, 81, 181);
  }
}

@media only screen and (min-width: 0) and (max-width: $layout-breakpoint-sm - 1) {
  .md-toolbar-tools {
    min-height: 56px;
  }
}

@media only screen and (min-width: 0) and (max-width: $layout-breakpoint-sm - 1) {
  .toolbar-fixed-top {
    .md-toolbar-tools {
      min-height: 56px;
    }
    & + * {
      margin-top: 56px;
    }
  }
}

.md-button.md-mini.custom-fab {
  width: 100px;
  border-radius: 3px;
  margin-right: 56px;
  margin-top: 5px;
  & > p {
    line-height: 8px;
  }
}

md-fab-speed-dial {
  position: fixed;
  top: 8px;
  right: -30px;
  z-index: 100;
}

.md-fab-action-item {
  margin-top: 6px;
}

.auth {
  position: fixed;
  top: 8px;
  right: 75px;
  z-index: 100;
}
