md-toolbar.toolbar-fixed-top.white-background.md-menu-toolbar.md-whiteframe-1dp
  .md-toolbar-tools
    img.top-logo(src='images/top-logo.jpg' ui-sref='home')
    span(flex)

    md-button.tool-button(ui-sref='home' ui-sref-active='md-primary' ng-if='!vm.breakpoint') Главная
    md-button.tool-button(ui-sref='catalogue' ui-sref-active='md-primary' ng-if='!vm.breakpoint') Каталог
    md-button.tool-button(ui-sref='baguettes' ui-sref-active='md-primary' ng-if='!vm.breakpoint') Багет
    md-button.tool-button(ui-sref='articlePivot' ui-sref-active='md-primary' ng-if='!vm.breakpoint') Таблица товаров

    md-fab-speed-dial.md-scale.margin-fab-cust(
      md-direction='down'
      ng-if='vm.breakpoint'
    )
      md-fab-trigger
        md-button.md-fab.md-mini.md-icon-button.md-primary(aria-label='menu')
          i.material-icons menu
      md-fab-actions
        md-button.md-raised.md-mini.custom-fab(aria-label='home' ui-sref='home', ui-sref-active='md-primary')
          p Главная
        md-button.md-raised.md-mini.custom-fab(aria-label='catalogue' ui-sref='catalogue', ui-sref-active='md-primary')
          p Каталог
        md-button.md-raised.md-mini.custom-fab(aria-label='cart' ui-sref='cart', ui-sref-active='md-primary')
          p Корзина
        md-button.md-raised.md-mini.custom-fab(aria-label='articleList' ui-sref='articlePivot', ui-sref-active='md-primary')
          p Таблица товаров
        md-button.md-raised.md-mini.custom-fab(aria-label='baguette' ui-sref='baguettes', ui-sref-active='md-primary')
          p Багет

    span(flex='5' ng-if='!vm.breakpoint')

    div.with-badge(flex='none' ng-if='!vm.breakpoint')
      md-button.md-fab.md-mini.md-icon-button(ui-sref='cart')
        i.material-icons shopping_cart
      span.badge(ng-show='vm.cart.length') {{ vm.cart.length }}
