md-toolbar.toolbar-fixed-top.white-background.md-menu-toolbar.md-whiteframe-1dp
  .md-toolbar-tools
    img.top-logo(src='images/top-logo.jpg')
    //md-button.hide-xs(ui-sref='home' flex-offset="5") vseramki.ru
    span(flex)
    md-button.tool-button(ui-sref='home' ui-sref-active='md-primary') Главная
    md-button.tool-button(ui-sref='catalogue' ui-sref-active='md-primary') Каталог
    span(flex="5" flex-xs="0")
    md-button.md-fab.md-mini.md-icon-button
     i.material-icons shopping_cart
