.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: greenyellow;
}

.toolbar-fixed-top {
  position: fixed;
  top: 0;

  & + * {
    margin-top: 80px;
  }
}

@media only screen and (min-width: 0) and (max-width: 959px) {
  md-toolbar {
    min-height: 56px;
  }
}
