md-toolbar.toolbar-fixed-top
  .md-toolbar-tools
    md-button(ui-sref='home') vseramki.ru
    md-button.md-primary(ui-sref='home' ui-sref-active='md-raised') Главная
    md-button.md-primary(ui-sref='articles' ui-sref-active='md-raised') Каталог
    .flex
