@import "../../styles/_vars";

.top-logo {
  max-height: 36px;
  cursor: pointer;
  max-width: 100%;
}

@media (max-width: 449px) {
  .top-logo {
    height: 56px;
  }
}

md-toolbar.toolbar-fixed-top.white-background {
  background-color: $toolbar-background-color;
  color: #202020;
}

.toolbar-fixed-top {

  z-index: 3;

  .md-button.md-fab {
    min-width: 40px;
  }

}

body {
  //position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.tool-button, md-toolbar:not(.md-menu-toolbar) .md-button.tool-button:not(.md-raised) {
  color: $black-font-color;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .26);
  background-color: rgb(250, 250, 250);
  &.md-button.md-primary {
    color: rgba(255, 255, 255, 0.87);
    background-color: $primary-button-background-color;
  }
  &.md-button.md-primary:hover:not([disabled]), &.md-button.md-primary.md-focused {
    background-color: $md-fab-tool-hover;
  }
  &:hover:not([disabled]) {
    background-color: $default-button-hover;
  }

}

@media only screen and (min-width: 0) and (max-width: $layout-breakpoint-sm - 1) {
  .md-toolbar-tools {
    min-height: 56px;
  }
}

@media only screen and (min-width: 0) and (max-width: $layout-breakpoint-sm - 1) {
  .toolbar-fixed-top {
    .md-toolbar-tools {
      min-height: 56px;
    }
    & + * {
      //margin-top: 56px;
    }
  }
}

.md-button.md-mini.custom-fab {
  width: 100px;
  border-radius: 3px;
  margin-right: 56px;
  margin-top: 5px;
  & > p {
    line-height: 8px;
  }
}

.md-fab-action-item {
  margin-top: 6px;
}

.fab-menu {
  position: absolute;
  top: 8px;
  right: 0;
}

@media print {
  .toolbar-fixed-top {

    .md-toolbar-tools {
      > div {
        display: none;
      }
    }

  }
}

@media (max-width: $layout-breakpoint-tight - 1) {
  md-toolbar {
    .hidden-tight {
      display: none;
    }
  }
}

@media (min-width: $layout-breakpoint-tight) {
  md-toolbar {
    .shown-tight {
      display: none;
    }
  }
}
