@import "../../styles/_vars";

#import {

  > * {
    margin: $margin-default;
  }

  .md-virtual-repeat-container > .md-virtual-repeat-scroller > .md-virtual-repeat-offsetter {
    overflow-x: scroll;
  }

  .result {
    display: inline-block;
    margin-right: 1em;
    label {
      color: $gray;
    }
  }

  .import-status-icon {
    color: $vr-yellow-color;
  }

  .tr-height-50 {
    height: 50px;
    min-height: 50px;
  }

}

#import-buttons {

  .md-button > i {
    position: inherit;
    top: 2px;
    left: 1px;
    font-weight: 600;
  }

  .round-button {
    min-width: 40px;
    min-height: 40px;
    border-radius: 20px;
  }

  .round-button:last-of-type {
    margin-right: 6px;
  }

  .round-button:first-of-type {
    margin-right: 2px;
  }

}

