@import "../../styles/_vars";

#import {

  ::-webkit-scrollbar {
    display: none;
  }

  .invalid-props {
    background: #F75D59;
    & > * {
      color: white;
    }
  }

  > * {
    margin: $margin-default;
  }

  .md-virtual-repeat-container > .md-virtual-repeat-scroller > .md-virtual-repeat-offsetter {
    overflow-x: scroll;
  }

  .result {
    display: inline-block;
    margin-right: 1em;
    label {
      color: $gray;
    }
  }

  .import-status-icon {
    color: $vr-yellow-color;
    cursor: default;
  }

  .tr-height-50 {
    height: 50px;
    min-height: 50px;
  }

  .properties-wrapper {
    margin: 3px 14px;

    & > div {
      height: 30px;

      .prop-val-wrapper {
        overflow-x: scroll;
      }

      .prop-name {
        font-weight: 600;
        margin-right: 5px;
        white-space: nowrap;
      }

      .badge {
        cursor: pointer;
        border-radius: 50%;
        background: #ff3d56;
        min-width: 17px;
        min-height: 17px;
        color: white;
        padding: 2px;
        font-size: 9px;
        top: -7px;
        position: relative;
        right: 6px;

        span {
          padding-top: 1px;
          width: 100%;
          text-align: center;
        }
      }

      .prop-item {
        background-color: $vr-yellow-color;
        border-radius: 3px;
        font-weight: 600;
        margin: 0 3px;
        padding: 5px;
        font-size: 13px;
        cursor: pointer;
      }

      .prop-val {
        white-space: nowrap;
      }

    }

  }

  .info {
    margin: 10px 14px;
    overflow: scroll;

    & > h3 {
      margin: 0 2px;
    }

  }

}

#import-buttons {

  .md-button > i {
    position: inherit;
    top: 2px;
    left: 1px;
    font-weight: 600;
  }

  .round-button {
    min-width: 40px;
    min-height: 40px;
    border-radius: 20px;
  }

  .round-button:last-of-type {
    margin-right: 6px;
  }

  .round-button:first-of-type {
    margin-right: 2px;
  }

}

@media (max-width: 945px) and (min-width: 800px) {
  #import {
    .info > h3 {
      font-size: 16px;
    }
  }
}

@media (max-width: 799px) and (min-width: 500px) {
  #import {
    .info > h3 {
      font-size: 14px;
    }
  }
}

@media (max-width: 499px) {
  #import {
    .info > h3 {
      font-size: 12px;
    }
  }
}

