.pictures

  h1 Картинки

  md-input-container.searcher(flex layout='row')
    i.material-icons.search-label search
    label(for='searcher')
    input#searcher(
      type="search" ng-model="vm.search" on-enter='vm.onEnter($event)'
      ng-model-options="{debounce: 500}"
    )

  section.busy(ng-if="vm.busy" layout="row" layout-align="center center")
    md-progress-circular(md-diameter="100" md-mode="indeterminate")

  picture-list(ng-hide="vm.busy" pictures="vm.filteredPictures")
