md-content(layout-padding)
  h1 Articles

  md-grid-list(md-row-height-xs="500" md-row-height-sm="400" md-row-height-gt-sm="350" md-cols-xs="1" md-cols-sm="3" md-cols-md="5" md-cols-lg="6" md-gutter="10" md-on-layout="vm.onLayout($event)")
    md-grid-tile(ng-repeat="a in vm.articles")
      md-card
        img.thumbnail-(src='http://www.vseramki.ru/CommonFiles/Smiles/01_Products/0179/0179_00-0.jpg')
        md-card-content {{ a.name }}
