state-bar(
  bar-title='Политика конфиденциальности'
)

.privacy.scroll-y(
  resize='privacy'
  ng-style='{height: (privacy.windowHeight - privacy.offsetTop)+"px"}'
)
  .privacy-policy
    include privacyPolicy
