@import "../../../styles/vars";

baguette-view {

  $margin: 10px;

  h2, h3 {
    text-align: center;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .baguette-image {
    cursor: zoom-in;
  }

  .baguette-image {

    padding: $margin;

    img {
      max-width: 250px;
      max-height: 400px;
    }

  }

}
