.info(layout='column' layout-align='space-around center' style='height: {{windowHeight - windowHeight/4+100}}px;')
  div(layout='column' layout-align='space-around center')
    .info-header.md-whiteframe-1dp ООО «Ювит»
    .property-list-container.item-info.info-block.md-whiteframe-1dp
      .property-info
        .property-label ИНН:
        .property-value 7728825955

      .property-info
        .property-label ОГРН:
        .property-value 1127747178404

      .property-info
        .property-label Юридич. адрес:
        .property-value 117342, Россия, г. Москва, ул. Обручева, д.36 корп.1

      .property-info
        .property-label Фактич. адрес:
        .property-value г. Москва, ул. Перерва, д.52, стр.1

      .property-info
        .property-label Р/с:
        .property-value 40702810800460005121

      .property-info
        .property-label Банк:
        .property-value ЗАО «ПРОБАНК» г. Москва

      .property-info
        .property-label К/с:
        .property-value 30101810900000000647

      .property-info
        .property-label БИК:
        .property-value 044579647

      .property-info
        .property-label ОКПО:
        .property-value 16431742

      .property-info
        .property-label Телефон:
        .property-value +7 (495) 766-888-7


