.radius{
  background: #f3f4f6; /* Цвет фона */
  padding: 15px; /* Поля вокруг текста */
  border-radius: 10px 10px 10px 10px;
}

.pink-button{
  background-color: rgb(255,64,129) !important;
  color: white !important;
}
