.center-text-input {
  text-align: center;
}

.md-item-text-header {
  padding: 8px;
  background: #f3f4f6;
  border-radius: 3px;
  margin: 5px;
}

.header-no-bot-margin {
  margin-bottom: 0;
}

.cust-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.fixed-button-width {
  width: 180px;
}

.md-item-text-frame {
  padding: 8px;
  background: #f3f4f6;
  border-radius: 3px;
  cursor: default;
  margin: 5px 2px;
}

.addFrame {
  md-select {
    width: 250px !important;
  }

  .input-margin {
    margin-top: 12px;
    width: 250px;
    input {
      width: 250px;
      text-align: left !important;
    }
  }

}

