form-edit(vm="vm" item="vm.frame" title="{{ vm.id ? '' : 'Новая рамка' }}")
  form-fields.wide(layout='column' layout-align='space-between top' layout-gt-sm='row')
    .flex

    .form-controls(layout='column' layout-align='top center' ng-include="'app/domain/addFrame/partials/frameFields1.html'")

    .flex

    .form-controls(layout='column' layout-align='top center' ng-include="'app/domain/addFrame/partials/frameFields2.html'")

    .flex
