state-bar(
bar-title='Доставка'
)

#delivery.scroll-y(
resize='delivery'
ng-style='{height: (delivery.windowHeight - delivery.offsetTop)+"px"}'
)

  .gray-section.md-whiteframe-1dp

    h2 В пределах МКАД
    .text
      p
        | Если сумма заказа превышает
        =' '
        strong 3000
        =' '
        | рублей, то мы доставим вам товар бесплатно.

    h2 За МКАД
    .text
      p Условия и стоимость доставки за пределы МКАД
        = ' '
        strong обсуждается
        = ' '
        | отдельно с каждым заказчиком.

    h2 В регионы
    .text
      p После оплаты в течение одного-двух дней доставим его в транспортную или курьерскую службу, выбранную вами.
      p Доставка заказа в транспортную   компанию или курьерскую службу —
        =' '
        strong бесплатно.
      p Вам необходимо будет оплатить только услуги транспортной компании при получении товара.
