searchable-select {

  md-select {
    margin: 0;
  }

  .label {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    padding-left: 3px;
  }

  text-align: left;
  padding: 2px;
  margin-bottom: 16px;

}
