$searchable-select-label-color: rgba(0, 0, 0, 0.54);

searchable-select {

  .asteric {
    color: red;
    font-size: 12px;
    margin-left: -1px;
  }

  md-select {
    margin: 0;
  }

  .label {
    color: $searchable-select-label-color;
    font-size: 13px;
    padding-left: 3px;
  }

  text-align: left;
  padding: 2px;
  margin-bottom: 16px;

  button.clear-button {
    color: $searchable-select-label-color;
    left: -2px;
    margin: 0;
    padding: 0;
    line-height: 0;
    height: 12px;

    i {
      font-size: 12px !important;
    }
  }

  &.error .md-select-placeholder {
    color: red;
  }

}
