md-content.articles {

  #scroll-main {
    padding-top: 16px;
    padding-bottom: 46px;
    padding-left: 0;
    margin-left: 0;
  }


  .md-sidenav-left {
    margin-top: 5px;
  }

  .md-sidenav-right {
    margin-top: 10px;
    max-width: 200px;
    width: 200px;
  }

  md-card {

    min-height: 400px;
    //max-height: 400px;

    img.thumbnail {
      margin-left: auto;
      margin-right: auto;
      max-width: 250px;
    }

//    height: 100%;

  }

}
