md-content.articles {

  #scroll-main {
    padding-left: 0;
    margin-left: 0;
  }

  .md-sidenav-right {
    margin-right: 6px;
    width: 345px;
  }

  .repeated-group {
    padding: 2px;
    margin: 2px;
  }

  .repeated-group-item {
    display: inline-block;
  }

  .custom-padding {
    padding: 2px;
  }

  .items {
    padding: 6px;
    margin: 5px;
    border-radius: 5px;
  }

  md-input-container {
    margin: 0;
  }

  input {
    width: 50px;
    text-align: center;
  }

  md-card {
    height: 340px;

    md-card-content {
      padding: 0;
    }
  }

  .fixed-height {
    height: 61.33px
  }

}

.center {
  text-align: center;
}

p.md-title {
  margin: 0;
}

.first-div {
  margin-top: 10px;
}

.custom-filter-reset-button {
  border-radius: 0 !important;
  min-height: 10px !important;
  min-width: 10px !important;
  line-height: 30px !important;
  width: 25px !important;
  height: 25px !important;
  margin-left: 4px !important;
  margin-right: 0 !important;
}

.choose-filter-button {
  margin: 0 !important;
}

.custom-material-icons {
  line-height: 0;
  font-family: 'Material Icons';
  text-transform: none;
  font-style: normal;
}

.icon-button-catalogue {
  height: 20px;
  min-width: 0;
  line-height: 24px;
  padding: 0 !important;
  margin: 0 !important;
  width: 20px;
}

.div-order-info-num-picker {
  line-height: 2.8;
}

.name-style {
  font-size: 14px;
  margin-right: 3px;
}

.pointer-style {
  cursor: pointer;
}

.custom-button {
  line-height: 24px !important;
}



