@import "../../styles/_vars";

.articles {

  .state-bar {
    .cart-totals {
      font-size: 14px;
    }

    .view-mode-tool {
      .header {
        @media (max-width: $layout-breakpoint-xs) {
          display: none;
        }
      }
    }
  }

  #sidenav-left {

    > * {
      margin: 0;
      @media (max-width: $layout-breakpoint-tight) {
      }
    }

    .article-list {
      font-size: 14px;
      color: #404040;
    }

    margin-left: $margin-default;

    p.md-title {
      margin-bottom: $margin-default-half;
    }

    margin-right: $margin-default/2;
  }

  #scroll-main {
    padding-left: 0;
    margin-left: 0;
  }

  .repeated-group-item {
    max-width: 284px;
  }

  .repeated-group {
    padding: 2px;
    margin: 2px;
  }

  .repeated-group-item {
    display: inline-block;
  }

  .item {
    padding: $margin-default-half;
    margin: $margin-default-half 0;
  }

  md-card {
    height: 340px;

    md-card-content {
      padding: 0;
    }

    md-card-actions {
      min-height: 40px !important;
    }

  }

  @media (max-width: 945px) {
    .md-table-pagination {
      .page-select {
        display: none;
      }
    }
  }

  @media (max-width: 820px) {
    table.md-table {
      .md-checkbox-cell, .md-checkbox-column {
        display: none;
      }
    }
  }

  @media (max-width: 799px) {
    .md-table-pagination {
      .limit-select {
        display: none;
      }
    }
  }

}




