.login(
layout='column'
layout-align='center center'
)

  error(error-text='vm.error' ng-if='vm.error')

  md-card

    md-card-header
      md-card-header-text
        .md-title
          span Войти через

    md-card-content(layout='column' layout-aling='center center')
      p Мобильный телефон:
      oauth-buttons(buttons-config='vm.mobile')

    md-divider

    md-card-content(layout='column' layout-aling='center center')
      p Cоциальную сеть:
      oauth-buttons(buttons-config='vm.buttons')

