@import "../../../styles/_vars";


picture-list {

  $height: 35px;
  $padding: 4px;

  display: block;


  .headers {
    font-weight: bold;
  }

  .picture, .headers {

    min-height: $height + $padding * 2;

    border-bottom: solid 1px $gray-borders-color;

    display: flex;
    justify-content: stretch;
    align-items: center;

    > * {
      flex: 1;
      padding: $padding;
    }

    > .renamed {
      cursor: pointer;
    }

    > .thumbnail {
      flex: 0;
      min-width: $height * 2;
      > img {
        max-width: $height;
        max-height: $height;
      }
    }

  }


}
