md-button.md-fab.md-mini.custom-filter-reset-button(
ng-click='vm.clearFilter()' ng-if='vm.currentOption'
)
  i.material-icon clear

md-menu(md-offset='20 0')

  md-button.choose-filter-button(
  aria-label='{{vm.propertyName}} menu'
  ng-click='$mdOpenMenu($event)'
  )
    span.label {{vm.propertyLabel}}:
    = ' '
    span.label(ng-if='vm.options.length > 1')
      span.active {{vm.currentOption.name}}
      span(ng-if='vm.currentOption.name') &nbsp;(из
      span(ng-if='!vm.currentOption.name') Выбор из
      = ' '
      span {{ vm.options.length }}
      span(ng-if='vm.currentOption.name') )
    span(ng-if='vm.options.length === 1') только
      = ' '
      span.active "{{ vm.options[0].name }}"
  md-menu-content(width='2')
    md-menu-item(ng-repeat='o in vm.options | orderBy:"name" track by o.id')
      md-button(ng-click='vm.optionClick(o)')
        span(md-menu-align-target)
          | {{o.name}}
