.contacts.md-padding(layout='column' layout-align='space-around center' layout-gt-sm='row')

  div(layout='column' layout-align='space-around center')

    .property-list.md-whiteframe-1dp#requisites
      h3.header Реквизиты
      .property-list-container
        .property
          .property-label Название:
          .property-value ООО «Ювит»
        .property
          .property-label ИНН:
          .property-value 7728825955

        .property
          .property-label ОГРН:
          .property-value 1127747178404

        .property
          .property-label Юр. адрес:
          .property-value 117342, Россия, г. Москва, ул. Обручева, д.36 корп.1

        .property
          .property-label Факт. адрес:
          .property-value г. Москва, ул. Перерва, д.52, стр.1

        .property
          .property-label Р/с:
          .property-value 40702810800460005121

        .property
          .property-label Банк:
          .property-value ЗАО «ПРОБАНК» г. Москва

        .property
          .property-label К/с:
          .property-value 30101810900000000647

        .property
          .property-label БИК:
          .property-value 044579647

        .property
          .property-label ОКПО:
          .property-value 16431742

        .property
          .property-label Телефон:
          .property-value +7 (495) 766-888-7

