.contacts {

  #requisites, #location {
    .property-label {
      flex: 2
    }
    .property-value {
      flex: 5
    }
  }

  .ya-map-container {

    overflow: hidden;

    min-width: 400px;
    max-width: 400px;
    height: 100%;
    width: 100%;
    min-height: 400px;

    > .ya-map {
      margin: 0 auto;
      display: block;
      min-height: 400px;
      min-width: 400px;
    }
  }

}
