.cart {

  &.footer {
    border-top: 1px rgba(0, 0, 0, 0.12) solid;
    padding: 10px;
  }

  .cartBody {
    width: 100%;
  }

  .cartItem {
    width: 98%;
    margin: 3px;
  }

  .emptyCart {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #f3f4f6;
    padding: 20px;
  }

  md-table-container {
    width: 100%;
    //margin-bottom: 10px;
    td.name {
      max-width: 200px;
    }
  }

  .clear-icon-size {
    font-size: 16px;
    line-height: 1.7;
  }

}

#order-info {
  .property-list-container .property {

    border-top: none;
    font-size: 16px;

    .property-label {
      text-align: left;
    }
    .property-value {
      text-align: right;
    }
  }
}

#checkout, .saleOrder {

  .lock-screen {
    pointer-events: none;
    opacity: 0.5;
  }

  md-input-container {
    margin-top: 0;
  }

  #orderTable md-table-container {
    margin: 0 auto 20px;
    @media screen {
      max-width: 600px;
    }

    padding: 0 10px;

  }

}

md-dialog {

  &.login-dialog {
    border-radius: 5px 5px 5px;
    width: 35%;
    height: auto;
  }

  .login-dialog-toolbar {
    background-color: #f3f4f6;
    border-radius: 5px;
    min-height: 50px !important;
    max-height: 50px !important;
  }

  .black-header {
    color: black;
  }

  .justify-text {
    text-align: justify;
  }

  md-dialog-actions {
    padding-left: 0;
  }

}

