div(layout-align="center center" layout="column")
  md-button.md-raised(ng-if='vm.data.length', ng-click='vm.clearCart()') Очистить корзину


  div(ng-if='!vm.data.length' flex='')
    div(style=' height: {{windowHeight - (windowHeight / 2) -56 }}px;' flex='')
    div.emptyCart
      div(style='text-align: center') Корзина пуста
      div
        md-button.md-raised(ui-sref='catalogue')
          | {{'Вернуться к товарам'}}


  div.cartBody(layout="column" ng-if='vm.data.length')

    div(layout='row', flex)
      div(flex='20') Фото
      div(flex='10') Кол-во
      div(flex='70') Наименование
      div(flex='10') Удалить

    div.cartItem.md-whiteframe-1dp(ng-repeat='item in vm.data track by item.id' layout='row', flex layout-align="center center")
      div(flex='20').photo
        img.thumbnail(src='http://www.vseramki.ru/CommonFiles/Smiles/01_Products/0179/0179_00-0.jpg')
      div(flex='10').quantity
        p {{item.count}}
      div(flex='70').addInfo {{ item.article.name }}
      div(flex='8').delete
        md-button.md-mini.md-icon-button(ng-click='vm.clearItem(item)')
          i.material-icons clear


